@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

* {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--font-color);
}

:root {
    --accent-color: #d24d32;
    --secondary-accent-color: #14705e;
    --accent-background-color: #DCDCDB;
    --font-color: #1f2328;
    --form-background: #F5F7F8;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
}

/*---------------HEADER-------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 60px;
    max-width: 100%;
    padding: 20px 15%;
    background: #FFFFFF;
    box-shadow: 0 0 1px var(--font-color);
}

.navbar {
    display: flex;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: 0;
}

.navbar li {
    list-style: none;
    font-weight: 700;
    font-size: 16px;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.navbar li:not(:first-child) {
    margin-left: 3vw;
}

.logo {
    float: left;
    height: 35px;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 32px;
}

.searchbar {
    display: flex;
    border: 2px solid var(--font-color);
    border-radius: 20px;
    background: url(../images/search-icon.png) no-repeat 1%;
    background-size: 20px;
    width: 80%;
    max-width: 600px;
    padding: 5px 10px 5px 35px;
    cursor: auto;
}

/*--------FOOTER-----*/

.footer {
    display: block;
    background: #DCDCDB;
}

.footer-column-container {
    display: flex;
    flex-direction: row;
    margin: 0 15%;
    justify-content: space-between;
    padding: 50px 0;
}

.footer-column {
    margin: 0 20px;
}

.footer-column-header {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 16px;
}

.footer-column li {
    list-style: none;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 500;
}

.footer-column li a {
    text-decoration: none;
    color: var(--accent-color);
}

.footer-column li a:hover {
    text-decoration: underline;
    color: var(--secondary-accent-color);
}

.divider {
    display: block;
    background-color: var(--font-color);
    width: 1px;
}

.info-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    /*padding-right: 30px;*/
    /*border-right: var(--color-10) solid 1px;*/
}

.info-logo {
    display: block;
    width: 150px;
    height: 40px;
}

.description {
    display: block;
    max-width: 190px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 13px;
    white-space: pre-line;
}

.apps-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
}

.apps-list li {
    display: flex;
    flex-direction: row;
}

.apps-list li:last-child {
    margin-top: 10px;
}

.app-btn {
    display: flex;
    background: white;
    border-radius: 10px;
    padding: 6px;
    justify-content: space-between;
    max-width: 130px;
}

.app-btn-text {
    display: block;
    font-weight: 600;
    font-size: 11px;
    white-space: pre-line;
    text-align: -webkit-center;
}

.app-btn-pic {
    width: 35px;
}