<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org/">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <main class="main">

            <header class="header" th:fragment="header">
                <a th:href="@{/}"><img class="logo" th:src="@{/images/logo-compass.png}" alt="logo"/></a>
                <nav class="navbar">
                    <form class="search">
                        <input class="searchbar" name="search" type="text" placeholder="Пикник">
                    </form>
                    <ul class="navbar-links">
                        <li class="navbar-link"><a th:href="@{/sign-up}">Войти</a></li>
                        <li class="navbar-link account-navbar-link">
                            <a th:href="@{/users/profile}">Аккаунт</a>

                            <div class="profile-dropdown">
                                <ul class="dropdown-links">
                                    <li class="dropdown-link"><a th:href="@{/users/profile}">Профиль</a></li>
                                    <li class="dropdown-link"><a th:href="@{/users/add-event}">Добавить событие</a></li>
                                    <li class="dropdown-link"><a th:href="@{/users/my-events}">Мои события</a></li>
                                    <li class="dropdown-link"><a th:href="@{/users/logout}">Выйти</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>

        </main>
    </body>
</html>