<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explore with me</title>
        <meta name="description" content="Explore with me - Приложение для размещения мероприятий и поиска компаний для участия в них">
        <link rel="stylesheet" href="styles.css"/>
    </head>

    <body>
        <main class="main">
            <header class="header">
                <a href="/"><img class="logo" src="logo-compass.png" alt="logo"/></a>
                <nav class="navbar">
                    <form class="search" method="get" action="">
                        <input class="searchbar" name="search" type="text" placeholder="Пикник">
                    </form>
                    <ul class="navbar-links">
                        <li><a href="#">Каталог</a></li>
                        <li><a href="#">Войти</a></li>
                    </ul>
                </nav>
            </header>

            <h1>Explore with me</h1>

            <div class="content-container">
                <div class="column-container">

                    <div class="right-content-container">

                        <section class="right-content-block categories">
                            <h3 class="right-content-header">Категории</h3>
                            <ul class="right-content-list">
                                <li><a href="#">Выставки</a></li>
                                <li><a href="#">Концерты</a></li>
                                <li><a href="#">Театр</a></li>
                                <li><a href="#">Обучение</a></li>
                                <li><a href="#">Кино</a></li>
                                <li><a href="#">Фестивали</a></li>
                                <li><a href="#">Экскурсии</a></li>
                                <li><a href="#">Стендапы</a></li>
                                <li><a href="#">Квесты</a></li>
                            </ul>
                        </section>

                        <section class="right-content-block compilations">
                            <h3 class="right-content-header">Подборки</h3>
                            <ul class="right-content-list">
                                <li><a href="#">Новые</a></li>
                                <li><a href="#">Ближайшие</a></li>
                                <li><a href="#">Массовые</a></li>
                                <li><a href="#">Бесплатные</a></li>
                                <li><a href="#">Платные</a></li>
                                <li><a href="#">Популярные</a></li>
                            </ul>
                        </section>

                    </div>

                    <div class="main-content-block">

                        <section class="most-popular-events">
                            <h2>Самые популярные события недели</h2>
                            <div class="popular-events-carousel">

                                <div class="event-cards-container">

                                    <div class="event-card">
                                        <div class="img-cover">
                                            <img src="https://i.ytimg.com/vi/hQqVIeIrr1c/maxresdefault.jpg"
                                                 title="Пикник на финском заливе" alt="Пикник на финском заливе">
                                        </div>
                                    </div>

                                    <div class="event-card">
                                        <div class="img-cover">
                                            <img src="https://i.ytimg.com/vi/hQqVIeIrr1c/maxresdefault.jpg"
                                                 title="Пикник на финском заливе" alt="Пикник на финском заливе">
                                        </div>
                                    </div>

                                    <div class="event-card">
                                        <div class="img-cover">
                                            <img src="https://i.ytimg.com/vi/hQqVIeIrr1c/maxresdefault.jpg"
                                                 title="Пикник на финском заливе" alt="Пикник на финском заливе">
                                        </div>
                                    </div>

                                </div>

                                <div class="carousel-controls">
                                    <span class="control-circle event-card-1"></span>
                                    <span class="control-circle event-card-2"></span>
                                    <span class="control-circle event-card-3"></span>
                                </div>

                            </div>

                        </section>
                    </div>

                </div>
            </div>

<!--                    <section class="event-picks">-->
<!--                        <h2>Лучшие подборки</h2>-->
<!--                        <div class="event-picks-items">-->
<!--                            <div class="img-cover">-->
<!--                                <img src="https://countryhelper.com/media/entertainment/tiles/Coastal_Board_Gamers.jpg" title="Пикник на финском заливе" alt="Пикник на финском заливе">-->
<!--                                <h3 class="title">Настольные игры</h3>-->
<!--                            </div>-->

<!--                            <div class="img-cover">-->
<!--                                <img src="https://www.brain-food.ru/wp-content/uploads/2022/08/sa2-11-2048x1450.jpg" title="Пикник на финском заливе" alt="Пикник на финском заливе">-->
<!--                                <h3 class="title">Иностранные языки</h3>-->
<!--                            </div>-->

<!--                            <div class="img-cover">-->
<!--                                <img src="https://reisenexclusiv.com/wp-content/uploads/2020/03/ImYanis-1320x880.jpg" title="Пикник на финском заливе" alt="Пикник на финском заливе">-->
<!--                                <h3 class="title">Поездки за город</h3>-->
<!--                            </div>-->

<!--                            <div class="img-cover">-->
<!--                                <img src="https://sportishka.com/uploads/posts/2022-11/thumbs/1667471716_29-sportishka-com-p-katanie-na-kayakakh-vkontakte-31.jpg" title="Пикник на финском заливе" alt="Пикник на финском заливе">-->
<!--                                <h3 class="title">Спортивные активности</h3>-->
<!--                            </div>-->

<!--                            <div class="img-cover">-->
<!--                                <img src="https://e7da267a-b67b-4f13-925b-81f4cc6ae450.selcdn.net/origin/da17106b-1a41-4a28-b30e-24759eaa6880.jpeg" title="Пикник на финском заливе" alt="Пикник на финском заливе">-->
<!--                                <h3 class="title">Театры и выставки</h3>-->
<!--                            </div>-->

<!--                            <div class="img-cover">-->
<!--                                <img src="https://telegra.ph/file/62cc5fbbd44a3d4fecea6.png" title="Пикник на финском заливе" alt="Пикник на финском заливе">-->
<!--                                <h3 class="title">Интеллектуальные игры</h3>-->
<!--                            </div>-->

<!--                            <div class="img-cover">-->
<!--                                <img src="http://zalpoeta.net/images/uploads/6e8d8782fa347d8a8900785cfa950021.jpg" title="Пикник на финском заливе" alt="Пикник на финском заливе">-->
<!--                                <h3 class="title">Музыкальные концерты</h3>-->
<!--                            </div>-->

<!--                            <div class="img-cover">-->
<!--                                <img src="https://podparusami.club/wp-content/uploads/2022/03/5p_piter_d_850.jpg" title="Пикник на финском заливе" alt="Пикник на финском заливе">-->
<!--                                <h3 class="title">Прогулки по городу</h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </section>-->
<!--                </div>-->
<!--            </div>-->

        </main>

        <script src="script.js"></script>

    </body>
</html>