<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore with me - войти в аккаунт</title>
    <meta name="description" content="Explore with me - Приложение для размещения мероприятий и поиска компаний для участия в них">
    <link rel="stylesheet" href="sign-up-in-styles.css"/>
  </head>

  <body>

    <main class="main">

      <div class="pop-up-form">

        <h1 class="pop-up-header">Войти / <a href="sign-up.html">Регистрация</a></h1>

        <form class="pop-up-fields" method="POST">

          <input class="pop-up-input" type="text" placeholder="Имя пользователя"/>
          <input class="pop-up-input" type="password" placeholder="Пароль"/>

          <button class="pop-up-btn" type="submit">Войти</button>

        </form>

        <a href="index.html"><div class="x-close-btn"></div></a>

      </div>

    </main>

  </body>
</html>