<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <title>Sign up</title>
    </head>

    <body>
        <h1>Create new account</h1>

        <form method="POST" >
            <div>
                <label for="name">Имя</label>
                <input type="text" id="name">

            </div>
            <div>
                <label for="login">Имя пользователя / Логин</label>
                <input type="text" id="login"/>
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="email" id="email"/>
            </div>
            <div>
                <label for="password">Пароль</label>
                <input type="password" id="password"/>
            </div>
            <div>
                <label for="password-repeat">Повторите пароль</label>
                <input type="password" id="password-repeat"/>
            </div>
            <button type="submit">Create account</button>
        </form>
    </body>
</html>