<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org/">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explore with me - Профиль</title>
        <meta name="description" content="Explore with me - Редактировать профиль">
        <link rel="stylesheet" th:href="@{/css/common-styles.css}"/>
        <link rel="stylesheet" th:href="@{/css/user-settings.css}"/>
    </head>

    <body>
        <main class="main">

            <header class="header">
                <a href="/"><img class="logo" th:src="@{/images/logo-compass.png}" alt="logo"/></a>
                <nav class="navbar">
                    <form class="search" method="get" action="">
                        <input class="searchbar" name="search" type="text" placeholder="Пикник">
                    </form>
                    <ul class="navbar-links">
                        <li><a th:href="#">Каталог</a></li>
                        <li><a th:href="sign-up">Войти</a></li>
                    </ul>
                </nav>
            </header>

            <div class="content-container">

                <h1 class="profile-settings-header">Настройки аккаунта</h1>

                <div class="profile-settings-content-block">

                    <h2 class="profile-settings-secondary-header">Данные аккаунта</h2>

                    <form class="profile-settings-fields" method="POST">

                        <div class="profile-settings-field">
                            <label class="profile-settings-label" for="email">Email</label>
                            <input class="profile-settings-input" type="email" id="email"/>
                        </div>

                        <div class="profile-settings-field">
                            <label class="profile-settings-label" for="password">Текущий пароль</label>
                            <input class="profile-settings-input" type="password" id="password"/>
                        </div>

                        <div class="profile-settings-field">
                            <label class="profile-settings-label" for="new-password">Новый пароль</label>
                            <input class="profile-settings-input" type="password" id="new-password"/>
                        </div>

                        <div class="profile-settings-field">
                            <label class="profile-settings-label" for="repeat-new-password">Повторите новый пароль</label>
                            <input class="profile-settings-input" type="password" id="repeat-new-password"/>
                        </div>

                        <button class="profile-settings-btn" type="submit">Сохранить изменения</button>

                    </form>

                </div>

                    <div class="profile-settings-content-block">

                        <h2 class="profile-settings-secondary-header">Удалить аккаунт</h2>

                        <div class="profile-settings-warning">
                            <p>Удаление аккаунта произойдёт в течение 14 дней и затронет все ваши данные: созданные события,
                                комментарии и другие данные. После выбора этой функции вы не сможете восстановить аккаунт.</p>
                        </div>

                        <button class="profile-settings-btn" type="submit">Удалить аккаунт</button>

                    </div>

                </div>
            </div>

            <footer class="footer">

                <div class="footer-column-container">

                    <div class="info footer-column">
                        <ul class="info-list">
                            <li><img class="info-logo" th:src="@{/images/logo-text.png}"></li>
                            <li><span class="description">Приложение для размещения мероприятий и поиска компаний для участия в них</span></li>
                        </ul>
                    </div>

                    <div class="about footer-column">
                        <h2 class="footer-column-header">Проект</h2>
                        <ul class="about-list">
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Сотрудничество</a></li>
                            <li><a href="#">Каталог мест</a></li>
                            <li><a href="#">Подборки</a></li>
                        </ul>
                    </div>

                    <div class="help footer-column">
                        <h2 class="footer-column-header">Помощь</h2>
                        <ul class="help-list">
                            <li><a href="#">Вопрос — ответ</a></li>
                            <li><a href="#">Правила</a></li>
                            <li><a href="#">Обратная связь</a></li>
                            <li><a href="#">Задать вопрос</a></li>
                        </ul>
                    </div>

                    <div class="contact footer-column">
                        <h2 class="footer-column-header">Разработчик</h2>
                        <ul class="contact-list">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">LinkedIn</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                    </div>

                    <div class="apps footer-column">
                        <h2 class="footer-column-header">Приложения</h2>
                        <ul class="apps-list">
                            <li><a href="#" class="app-btn">
                                <img class="app-btn-pic" th:src="@{/images/app-store-logo.svg}">
                                <div class="app-btn-text">Скачайте в App Store</div>
                            </a></li>

                            <li><a href="#" class="app-btn">
                                <img class="app-btn-pic" th:src="@{/images/google-play-logo.svg}">
                                <div class="app-btn-text">Скачайте в Google Play</div>
                            </a></li>
                        </ul>
                    </div>

                </div>

            </footer>

        </main>
    </body>

</html>